Triangle.xcodeproj/project.xcworkspace/xcuserdata/ash3.xcuserdatad/UserInterfaceState.xcuserstate
Triangle.xcodeproj/project.xcworkspace/xcuserdata/ciaranmullen.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Triangle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Triangle.xcodeproj/project.pbxproj
Triangle.xcodeproj/project.xcworkspace/xcuserdata/ash3.xcuserdatad/UserInterfaceState.xcuserstate
Triangle/.DS_Store
Triangle/Assets.xcassets/.DS_Store
